<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Actions</div>
    <li class="nav-item">
      <a class="nav-link" href="/admin/create">
        <i class="fas fa-fw fa-plus"></i>
        <span>Create Object</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/objects">
        <i class="fas fa-fw fa-list"></i>
        <span>View Objects</span>
      </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>