<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin 2 - Register</title>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet"> <!-- Add custom CSS -->
</head>
<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create your account</h1>
                  </div>
                  <% if (error && error.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= error %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <form class="user" action="/signup" method="POST">
                    <!-- User Information -->
                    <h6 class="text-gray-900 mb-3">User Information</h6>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="userName" placeholder="Full Name" name="userName" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="userEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="userEmail" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="userPassword" placeholder="Password" name="userPassword" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="userConfirmPassword" placeholder="Confirm Password" name="userConfirmPassword" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="userPhone" placeholder="Phone Number (optional)" name="userPhone">
                    </div>

                    <!-- Company Information -->
                    <h6 class="text-gray-900 mb-3 mt-4">Company Information</h6>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="companyName" placeholder="Company Name" name="companyName" required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="companyRegistrationNumber" placeholder="Company Registration Number (optional)" name="companyRegistrationNumber">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="companyAddress" placeholder="Company Address (optional)" name="companyAddress">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="companyPhone" placeholder="Company Phone (optional)" name="companyPhone">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="companyEmail" placeholder="Company Email (optional)" name="companyEmail">
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/admin/login">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>